<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.eisti.fr.pokedex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activities.ActivityPokedexList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.ActivityPokedexFrame"
            android:label="@string/app_name"
            android:parentActivityName=".controller.activities.ActivityPokedexList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activities.ActivityPokedexList" />
        </activity>

        <service
            android:name=".controller.services.ServicePokedex"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ServicePokedex" />
            </intent-filter>
        </service>

        <receiver
            android:name=".controller.services.AlarmReceiver"
            android:process=":remote" >
        </receiver>
    </application>

</manifest>
